{% if aek.action == "get-surveys" %}

  {% set endpoint = "https://qmihub.co.uk/domains/qmi-sales/participant-surveys" %}
  {% set service = aek.create_service(endpoint) %}
  {{ service.set_method("GET") }}
  {{ service.set_namespace("") }}
  {{ service.http_auth("demo", "demo") }}
  {{ service.set_parameter("email", "CampusM@test.co.uk") }}
  {{ aek.respond(service.json) }}

{% endif %}
