@import "imports/aek-css-config";

// NavMenu replacement
.navbar.ui.labeled.icon.four, .navbar.ui.labeled.icon.three, .navbar.ui.labeled.icon.two {
  box-shadow: 1px 1px 0 0 #DDD inset;
}

.navbar.ui.labeled.icon.four div, .navbar.ui.labeled.icon.three div, .navbar.ui.labeled.icon.two div {
  height: 100%;
}

.navbar.ui.labeled.icon.four a, .navbar.ui.labeled.icon.three a, .navbar.ui.labeled.icon.two a {
  display: inline-block;
  height: 63px;
  line-height: 1rem;
  vertical-align: top;
  cursor: pointer;
}

.navbar.ui.labeled.icon.four a {
  width: 25%;
}

.navbar.ui.labeled.icon.three a {
  width: 33.33%;
}

.navbar.ui.labeled.icon.two a {
  width: 50%;
}

.navbar.ui.labeled.icon.one a {
  width: 100%;
}

.navbar.ui.labeled.icon.four div, .navbar.ui.labeled.icon.four div i.icon,
.navbar.ui.labeled.icon.three div, .navbar.ui.labeled.icon.three div i.icon,
.navbar.ui.labeled.icon.two div, .navbar.ui.labeled.icon.two div i.icon,
.navbar.ui.labeled.icon.one div, .navbar.ui.labeled.icon.one div i.icon {
  color: #444;
  opacity: 0.7;
}

.navbar.ui.labeled.icon.four div, .navbar.ui.labeled.icon.three div, .navbar.ui.labeled.icon.two div, .navbar.ui.labeled.icon.one div {
  border-top: 2px solid #DEDEDE;
  padding: 0 0.5rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.navbar.ui.labeled.icon.four div i.icon, .navbar.ui.labeled.icon.three div i.icon, .navbar.ui.labeled.icon.two div i.icon, .navbar.ui.labeled.icon.one div i.icon {
  display: block;
  margin: 0.45em auto 0.4em;
}

.navbar.ui.labeled.icon.four div.active, .navbar.ui.labeled.icon.three div.active, .navbar.ui.labeled.icon.two div.active, .navbar.ui.labeled.icon.one div.active {
  background-color: rgba(0, 0, 0, 0.05);
  border-top: 2px solid #444;
  opacity: 1;
}

.navbar.ui.labeled.icon.four div.active i.icon, .navbar.ui.labeled.icon.three div.active i.icon, .navbar.ui.labeled.icon.two div.active i.icon, .navbar.ui.labeled.icon.one div.active i.icon {
  opacity: 1;
}

.navbar.ui.labeled.icon.four.prime div.active, .navbar.ui.labeled.icon.three.prime div.active, .navbar.ui.labeled.icon.two.prime div.active, .navbar.ui.labeled.icon.one.prime div.active {
  border-top: 2px solid primeColor;
  color: primeColor;
}

.navbar.ui.labeled.icon.four.prime div.active i.icon, .navbar.ui.labeled.icon.three.prime div.active i.icon, .navbar.ui.labeled.icon.two.prime div.active i.icon, .navbar.ui.labeled.icon.one.prime div.active i.icon {
  color: primeColor;
}

.navbar.ui.labeled.icon.four.alt div.active, .navbar.ui.labeled.icon.three.alt div.active, .navbar.ui.labeled.icon.two.alt div.active, .navbar.ui.labeled.icon.one.alt div.active {
  border-top: 2px solid altColor;
  color: altColor;
}

.navbar.ui.labeled.icon.four.alt div.active i.icon, .navbar.ui.labeled.icon.three.alt div.active i.icon, .navbar.ui.labeled.icon.two.alt div.active i.icon, .navbar.ui.labeled.icon.one.alt div.active i.icon {
  color: altColor;
}
